* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
div{
    margin: 0;
}

/* Customize the scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
    border-radius: 4px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: darkslategray;
    border-radius: 2px;
  }

/* Custom display on Smartphones */
@media screen and (max-width: 767px) {
    .slide-container img{
        width: 100%;
        height: 300px;
    }
    .slide-container .display{
        padding: 5%;
    }
    .slide-container h2{
        font-weight: 900;
        font-size: large;
    }
    .slide-container button{
        font-size: x-small;
    }
    /* About */
    #about {
        width: 100%;
        margin: auto;
    }
    .about .header{
        width: 100%;
        margin: auto;
        background-color: chocolate;
    }
    .about .smartphone_half{
        width: 100%;
        padding: 15px;
    }
    .about h3{
        font-family: 'Marck Script', cursive;;
        color: aliceblue;
    }
    .about img{
        width: 80%;
        margin-left: 10%;
    }
    .about h4{
        text-align: center;
        font-family: 'Caprasimo', cursive;
        color: darkslategray;
    }
    .about p{
        font-size: x-small;
        text-align: justify;
    }
    .about button{
        margin-left: 70%;
        font-size: x-small;
    }
    /* Services */
    .services h1{
        font-size: x-small;
    }
    .services p{
        font-size: xx-small;
        padding: 6px;
        text-align: center;
    }
    .services img{
        width: 50%;
    }
}

/* Custom display on Tablets */
@media screen and (min-width: 767px) and (max-width: 1023px) {
    .slide-container img{
        width: 100%;
        height: 400px;
    }
    .slide-container .display{
        padding: 5%;
    }
    .slide-container h2{
        font-weight: 900;
        font-size: larger;
    }
    .slide-container button{
        font-size: small;
    }
    /* About */
    #about {
        width: 90%;
        margin: auto;
    }
    .about .header{
        width: 90%;
        margin: auto;
        background-color: chocolate;
    }
    .tab_half{
        width: 100%;
        padding: 15px;
    }
    .about h3{
        font-family: 'Marck Script', cursive;;
        color: aliceblue;
    }
    .about img{
        width: 80%;
        margin-left: 10%;
    }
    .about h4{
        text-align: center;
        font-family: 'Caprasimo', cursive;
        color: darkslategray;
    }
    .about p{
        font-size: small;
        text-align: justify;
    }
    .about button{
        margin-left: 70%;
        font-size: small;
    }
    /* Services */
    .custom_tab{
        width: 50%;
    }
    .services p{
        font-size: medium;
        padding: 6px;
        text-align: center;
    }
    .services img{
        width: 100%;
        height: 200px;
    }
    .services h5{
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        color: darkslategrey;
    }
    .desktop_width p{
        font-size: small;
        text-align: center;
        margin: 4%;
    }
}

/* Custom display on Desktop */
@media screen and (min-width: 1023px) {
    .slide-container img{
        width: 100%;
        height: 500px;
    }
    .slide-container .display{
        padding: 5%;
    }
    .slide-container h2{
        font-weight: 900;
    }
    .slide-container button{
        font-size: large;
    }
    /* About */
    #about {
        width: 80%;
        margin: auto;
    }
    .about .header{
        width: 100%;
        margin: auto;
        background-color: chocolate;
    }
    .about h3{
        font-family: 'Marck Script', cursive;;
        color: aliceblue;
    }
    .about h4{
        font-family: 'Caprasimo', cursive;
        color: darkslategray;
    }
    /* Services */
    .services p{
        font-size: medium;
        padding: 6px;
        text-align: center;
    }
    .services img{
        width: 100%;
        height: 200px;
    }
    .services h5{
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        color: darkslategrey;
    }
    .desktop_width p{
        font-size: small;
        text-align: center;
        margin: 4%;
    }
}
